
ion-tab-bar {
  --background: rgba(255, 255, 255, 0.85);
  --color: #617f89;
  --color-selected: #13b6ec;
  --border: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 16px;
  border-radius: 12px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.4);
}
